<%- include("header") -%>

  <div class="container-fluid" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
      
            <form class="form-group" action="/" method="post">
              <label for="newItem">Member Name</label>
              <input class="form-control" type="text" name="newItem" placeholder="Member Name" autocomplete="off">
              <label for="gradYear">Graduation Date</label>
              <input class="form-control" type="number" name="gradYear" placeholder="Graduation year" autocomplete="off">
              <label for="initYear">Initiation Date</label>
              <input class="form-control" type="number" name="initYear" placeholder="Initiation year" autocomplete="off">
              <label for="newItemBig">New Member's Big</label>
              <input class="form-control" type="text" name="newItemBig" placeholder="Member's Big" autocomplete="off">
              <label for="newItemLittle">New Member's Little</label>
              <input class="form-control" type="text" name="newItemLittle" placeholder="Member's Little" autocomplete="off">
              <label for="list"></label>
              <button class="form-control btn btn-outline-dark" type="submit" name="list" value="<%= listTitle %>">Add New Member</button>
            </form>
      </div>



      <div class="col-lg-4">
        <%- include("tree") -%>
      </div>

    </div>

 
  </div>

<%- include("footer") -%>
