<%- include("partials/header"); -%>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
        {
            "symbols": [
                {
                    "proName": "FOREXCOM:SPXUSD",
                    "title": "S&P 500"
                },
                {
                    "proName": "FOREXCOM:NSXUSD",
                    "title": "Nasdaq 100"
                },
                {
                    "proName": "FX_IDC:EURUSD",
                    "title": "EUR/USD"
                },
                {
                    "proName": "BITSTAMP:BTCUSD",
                    "title": "BTC/USD"
                },
                {
                    "proName": "BITSTAMP:ETHUSD",
                    "title": "ETH/USD"
                }
            ],
                "colorTheme": "dark",
                    "isTransparent": false,
                        "locale": "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget LOOP FOR TRACKED STOCKS-->
<% var h = screenHeight %>
<% var strlength = trackedPositions.length; %>
<% var barHeight = h/strlength; %>


<%  trackedPositions.forEach(function(item){ %>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_<%= item.code %>"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": "auto",
                "height": "<%= barHeight %>",
                "symbol": "<%= item.exchange %>:<%= item.stock %>",
                "interval": "15",
                "timezone": "Etc/UTC",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "hide_top_toolbar": true,
                "save_image": false,
                "container_id": "tradingview_<%= item.code %>"
            }
        );
    </script>
</div>
<% }); %>

<%- include("partials/footer"); -%>